<!-- Fill in code here to create a form that can be used for either creating or editing a post (see Rails Guides Getting Started section 5.12 if you need help) -->

<%= form_for @post do |f| %>

	<p>
		<%= f.label :bru_name %>
		<%= f.text_field :bru_name %>
	</p>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>

		<p>
		<%= f.submit %>
	</p>


<% end %>

<!-- BONUS! Add some error handling -->